<div class="container">
  <h2 class="text-center mb-2"> <%= @recipe.name %> </h2>
  <div>
    <div class="flex align-center justify-between items-center">
      <p class="font-semibold">Preparation time: <%= @recipe.preparation_time %> minutes</p>
      <div class="public-show-switch flex gap-x-12 items-center ">
        <span>Public</span>
        <div class="flex justify-center">
          <div class="form-check form-switch">
            <input class="form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm" type="checkbox" role="switch" id="flexSwitchCheckDefault" <%= "checked" if @recipe.public %> disabled >
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="font-semibold">Cooking time: <%= @recipe.cooking_time %> minutes</p>
  <p> <%= @recipe.description %> </p>
</div>

<h2 class="border-t my-4 py-4 text-center">List of ingredients for this recipe</h2>

<%= form_with(
  model:RecipeFood.new,
  url: recipe_recipe_foods_path(@recipe),
  method: :post,
  class: 'flex items-center justify-center gap-4'
  ) do |f| %>
  <%= f.collection_select :food_id, @recipe.user.foods, :id, :name %>
  <%= f.number_field :quantity, placeholder: 'Quantity', min: 0, step:0.01 %>
  <%= f.submit 'Add', class: 'btn-primary' %>
<% end %>

<% if @recipe.foods.blank? %>
  <p class="text-center">No items found!</p>
<% else %>

<table>
  <thead>
    <th>Food</th>
    <th>Unit</th>
    <th>Price</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% @recipe.foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td>
        <% if user_signed_in? && food.user == current_user %>
        <%= form_with(model: RecipeFood.new, url: recipe_recipe_food_path(@recipe, food) , method: :delete) do |f| %>
          <%= f.submit 'delete', class: 'cursor-pointer text-red-500' %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>